/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    z-index: 1000;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo-text {
    color: #333;
}

.highlight {
    color: orange;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: orange;
}

/* Hamburger Menu styles */
.hamburger-menu {
    display: none;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px;
}

/* Media Queary For Navbar */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #f9f9f9;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

}


/* styles for the banner */
.banner {
    background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: calc(100% - 300px);
    margin: 0 auto;
    padding: 0 150px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.banner-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    margin-bottom: 30px;
}


.dropdown-container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

.dropdowns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdowns select,
.dropdowns button {
    margin-bottom: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.dropdowns select {
    flex: 1;
    max-width: 200px;
}

.dropdowns button {
    background-color: #FF5400;
    transition: background-color 0.3s ease;
}

.dropdowns button:hover {
    background-color: #FF4500;
}

.dropdowns select:focus,
.dropdowns button:focus {
    outline: none;
}

/* Media query for Banner */
@media screen and (max-width: 768px) {
    .banner {
        width: calc(100% - 40px);
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .dropdowns {
        flex-direction: column;
        align-items: stretch;
    }
}

/* Popular Tours */
.popular-tours {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tour-content {
    flex-basis: 50%;
    margin-right: 20px;
}

.tour-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.tour-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.tour-image {
    flex-basis: 40%;
}

.tour-image img {
    width: 100%;
    border-radius: 20px;
}

.read-more-btn {
    background-color: #FF5400;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-more-btn:hover {
    background-color: #FF4500;
}

/* Media query for Popular Tours Section */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .tour-image {
        margin-top: 20px;
        flex-basis: 100%;
    }
}


/* Chose Your Destination */
.choose-destination {
    margin-left: 10%;
    margin-right: 10%;
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

p.section-paragraph {
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
}

.photo-grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.photo-grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.photo-grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}


.photo {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.photo-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo:hover img {
    transform: scale(1.1);
}

.photo:hover .photo-caption {
    opacity: 1;
}

/* Media query for Choose Your Destination Section */
@media screen and (max-width: 768px) {

    .photo-grid1,
    .photo-grid2,
    .photo-grid3 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .photo-grid1 .photo,
    .photo-grid2 .photo,
    .photo-grid3 .photo {
        margin-bottom: 0;
    }
}

/* Why Choose Us section styles */
.why-choose-us {
    margin: 10% 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-header {
    text-align: center;
}

.section-paragraph {
    margin-bottom: 40px;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.box-container3 {
    margin: 0 25% 0 25%;
}

.box {
    width: 573px;
    height: 283px;
    border-radius: 5px;
    background-color: #fbb563;
    padding: 5%;
    text-align: left;
    margin-bottom: 20px;
}

.box3 {
    width: 573px;
    height: 283px;
    border-radius: 5px;
    background-color: #29cef6;
    padding: 5%;
    text-align: left;
    margin-bottom: 20px;
}


.pq {
    width: 50px;
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
}



/* Media Queary For Why Choose Us Section */
@media screen and (max-width: 768px) {
    .box-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .box-container3 {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* Customer Feedback section styles */
.customer-feedback {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.testimonial {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.testimonial-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.testimonial-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.customer-details h3 {
    margin-bottom: 5px;
}

.testimonial-text {
    font-style: italic;
}


/* Newsletter section styles */
.newsletter {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.newsletter-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-info {
    flex: 1;
    position: relative;
    display: inline-block;
}

.newsletter-info img {
    width: 672px;
    height: 422px;
    margin-left: 20px;
}

.ash-hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.newsletter-form {
    flex: 1;
    text-align: left;
    border: 2px solid orange;
    border-radius: 10px;
}

.newsletter-padding {
    padding: 20% 10%;
}

.newsletter-header {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.newsletter-text {
    margin-bottom: 20px;
}

.newsletter-form-fields input[type="email"],
.newsletter-form-fields input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.newsletter-form-fields button {
    background-color: orange;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter-form-fields button:hover {
    background-color: #ff9933;
}

.discount-badge {
    position: absolute;
    bottom: 135px;
    right: 0;
    background-color: orange;
    color: white;
    padding: 5px 10px;
    transform: rotate(-45deg);
    transform-origin: bottom right;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    z-index: 1;
}

/* Media query for newsletter section */
@media screen and (max-width: 768px) {
    .newsletter-content {
        display: block;
        flex-direction: column;
        align-items: center;
    }

    .newsletter-info,
    .newsletter-form {
        width: 100%;
        text-align: center;
    }

    .newsletter-info img {
        order: 1;
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
}


/* Footer Styles */

.footer {
    background-color: #F3F3F3;
    color: #111111;
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    margin: 0 35% 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.logo-text {
    color: #0c0c0c;
}

.highlight {
    color: orange;
}

.footer-paragraph {
    flex: 1;
    margin: 20px 0;
    max-width: 400px;
    font-size: 20px;
}

.social-icons {
    flex: 1;
    display: flex;
    justify-content: center;
}

.social-icons img {
    width: 40px;
    margin: 0 10px;
}

.footer-divider {
    width: 5px solid;
    margin: 10%;
}

/* Media queries for footer section */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .centered {
        max-width: 100%;
    }

    .footer-divider {
        max-width: 100%;
    }
}