/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar {
    background-color: transparent;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo-text {
    color: #333; /* Default text color */
}

.highlight {
    color: orange; /* Highlight color for "Buddies" */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333; /* Default text color */
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: orange; /* Hover color for navigation links */
}

/* Hamburger Menu styles */
.hamburger-menu {
    display: none; /* Hide by default on larger screens */
}

.line {
    width: 30px;
    height: 3px;
    background-color: #333; /* Default color for hamburger lines */
    margin: 5px;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none; /* Hide navigation links on smaller screens */
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #f9f9f9; /* Background color for mobile nav */
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger-menu {
        display: block; /* Show hamburger menu on smaller screens */
        cursor: pointer;
    }
}
